<h1>Routin</h1>
<a [routerLink]="['get']">HTTP GET</a><br>
<a [routerLink]="['post']">HHTP Post</a>
<router-outlet></router-outlet><hr>
<h1> Attribute Directives</h1>
  <h2>NG Class/NG Style</h2>
<div [ngClass]="{border : true, baackground: true}"></div>
<div [ngStyle]="{ 'background-color':'blue'}"></div><hr>
  <h1>Custom Arrtibute Directive</h1>
  <div dirHighlight></div>
  <hr>
  <h1>Structural Directives</h1>
<h1>Http Test</h1>
  <dir-http-test></dir-http-test>
<hr>
  <h1>Http Post</h1>
  <dir-http-post-test></dir-http-post-test>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>
